.foto-principal
    width: 30rem
    height: 30rem

.foto-secundaria
    width: 10rem
    height: 10rem

.fotos
    width: 100%

.info
    width: 30rem

.precio
    font-size: 5rem
    font-weight: semibold

.border
    border: gray   

.botones
    border: 1px solid salmon !important
    color: salmon !important
    &:hover
        background-color: salmon !important
        color: white !important
    


