footer
    background-color: salmon !important
    color: white
    font-weight: semibold
        

.redes
    width: 7rem

.logos
    color: white !important
    svg
        width: 2rem
        height: 2rem
 
       