footer
    background-color: pink
    color: white
    font-weight: bold
        

.redes
    width: 7rem

.logos
    color: white !important
    svg
        width: 2rem
        height: 2rem
 
       